<div id="div_player">
  <Modal
    v-model="modal_show3"
    :closable="false"
    :mask-closable="false">
    <i-input v-model="nick" placeholder="请输入您的昵称..."></i-input>
    <div slot="footer">
      <i-button type="primary" size="large" long @click="emitNick">确定</i-button>
    </div>
  </Modal>

  <Modal
    v-model="modal_show2"
    title="对战邀请"
    @on-ok="btn_ok"
    @on-cancel="btn_cancel">
    用户昵称为 {{inviteName}} 的用户想要挑战你！
  </Modal>

  <div style="margin-top:20px;">
    <h3 style="display: inline;">您的昵称为：{{nick}}</h3>
    <i-button type="ghost" style="margin-left: 8px;" @click="modifyNick">修改昵称</i-button>
  </div>

  <div v-show="invite_able" style="width: auto">
    <i-select v-model="challengeId" style="width: 180px;margin-top:10px;" :filterable="true">
      <i-option v-for="item in onlineList" :value="item.socketId" :label="item.nick" :key="item" :disabled = "!item.gameState">
        <span>{{ item.nick }}</span>
        <span v-if = "item.gameState" style="float:right;color:#59cc6b">在线可撩</span>
        <span v-else style="float:right;color:#cc4949">对局中</span>
      </i-option>
    </i-select>

    <i-button type="primary" :loading="loading" style="margin-left:5px;margin-top:10px;" @click="inviteGame">
      <span v-if="!loading">邀请对决</span>
      <span v-else>等待对方接受...</span>
    </i-button>
  </div>

  <Modal
    v-model="modal_show5"
    :closable="false"
    :mask-closable="false"
    style = "text-align: center"
    >
    <p v-if="isGameWin" style="font-size: 18px">您成功打败了对手！</p>
    <p v-if="!isGameWin" style="font-size: 18px">很可惜，您输了！</p>
    <div slot="footer">
      <i-button type="primary" size="large" long @click="modal_show5 = false">确定</i-button>
    </div>
  </Modal>


  <div v-show="gameStart" style="margin-top:10px;text-align: center;">

    <Modal v-model="modal_show4" title="请选择" @on-ok="btn_ok_startGame">
      <span style="margin-left: 30px">对方先下</span>
      <i-switch v-model="isAfter"></i-switch>
    </Modal>

    <i-button v-if="isInviteUser" type="primary" :disabled="btn_start_able" style="margin-top:7px;" @click="modal_show4 = true">
      {{button_start}}
    </i-button>

    <div v-show="turnMsgShow" style="width: 200px; margin: 10px auto;">
      <Alert style="width: 200px;" v-if="myTurn" >轮到您下棋</Alert>
      <Alert style="width: 200px;" v-else >等待对方下棋</Alert>
    </div>

    <canvas id="canvasPlay">
      您的浏览器不支持canvas动画效果
    </canvas>
  </div>


</div>
